
a\.out

\.vscode/ipch/798ed0f27d15a75e/mmap_address\.bin

\.vscode/ipch/798ed0f27d15a75e/Trabalho-Video-Locadora\.ipch

\.vscode/ipch/c9afb0a0131d1850/mmap_address\.bin

\.vscode/ipch/26a32e4af592cafe/mmap_address\.bin

\.vscode/ipch/8ac597aee4ff0d80/cliente\.ipch

\.vscode/ipch/8ac597aee4ff0d80/mmap_address\.bin

\.vscode/launch\.json

\.vscode/settings\.json

\.vscode/tasks\.json

Trabalho-Video-Locadora
